<head>
    <style>
    input[type=text],input[type=password]{
        border:2px solid #CCC;
        border-bottom:2px solid springgreen;height:40px;border-radius:15px;font-family:time new roman;
    }
    input[type=submit]{
        border-radius:15px;font-family:time new roman;font-size:18px;
        color:black;
        font-weight:bold;
        background-color:springgreen;
        border:2px solid black;
        height:40px;
    }
    input[type=submit]:hover{
        color:white;
        background-color:springgreen;
    }
    body,html{
        width:100%;
        height:100%;
        background-image: linear-gradient(to right, springgreen , white);
    }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

</head>
<body>
<% if session[:user_id] %>
  <%= render template:"home/sidenav" %>
  <div style="background-color:grey;position:absolute;right:0;left:0;top:0;bottom:0;padding-left:351px;">
    <div style="width:100%;height:100%;background-color:grey;overflow:scroll">
    <% @uhw.each do |a| %>
      <%= a.user.name %>
    <% end %>
    </div>
    <input type="input" class="form-control" style="transform:translate(0,-100%);border:2px solid springgreen;height:40px;border-bottom:2px solid black;border-radius:15px;">
    <input type="submit" value"SEND" style="position:fixed;bottom:0;right:0;">
      
  </div>
<% else %>
<div class="row" style="width:100%;height:100%;">
    <div class="col-md-7">
        <img src="images/networking.png" style="width:80%;display:block;margin:0 auto;padding-top:5%;">
    </div>
    <div class="col-md-5" style="font-size:18px;padding:5% 0;font-family:Stencil Std, fantasy;">
    <div style="width:80%;display:block;margin:0 auto;padding-top:5%;padding:3% 3%;box-shadow:4px 4px 13px black;">
        <%= form_tag("/signup", method: "post") do %>
        <div class="form-group">
            <%=label_tag(:q,"Name")  %> 
            <input id="a" type="text" name="name" class="form-control">
        </div>  
                
        <div class="form-group">
          <%=label_tag(:q,"Email")  %> 
          <input type="text" name="email" class="form-control">
        </div>
        <div class="form-group">
          <%=label_tag(:q,"Password")  %> 
          <input type="password" name="password" class="form-control">
        </div>
        <div class="form-group">
          <%=label_tag(:q,"Confirm_password")  %> 
          <input type="password" name="confirm_password" class="form-control">
        </div>
        <div class="form-group">
          <input type="submit" value="SIGN UP" class="form-control" > 
          <%  end  %>
        </div>
    </div>
</div>

<% end %>
<script>
$(document).ready(function(){
  $("input").focus(function(){
    $(this).css({"border":"2px solid black","border-bottom":"2px solid limegreen"});
  });
  $("input").focusout(function(){
    $(this).css({"border":"2px solid #CCC","border-bottom":"2px solid springgreen"});
  });
});

</script>
</body>