<!DOCTYPE html>
<html>
  <head>
  <title>Chatapp</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/mystyle.css" >
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  
  <style>
      body{
      }
      
      a{
        
      }
  </style>
  </head>
  
  <body style="">
  
  <nav class="navbar navbar-inverse navbar-exp" style="background-color:springgreen;border:none;" >
  <div class="container-fluid">
    
    <div class="navbar-header">
      <a class="navbar-brand" href="#" style="font-size:18px;color:black;">CHAPAPP</a>
    </div>
    <ul class="nav navbar-nav">
      <!--
      <li class="active"><%= link_to "Home",   '#',{:style=>'font-size:18px;', :class => ""} %></li>
      
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
        <ul class="dropdown-menu">
        <li><%= link_to "Home",   '#',{:style=>'font-size:18px;', :class => ""} %></li>
        <li><%= link_to "Help",   '#',{:style=>'font-size:18px;', :class => ""} %></li>
        <li><%= link_to "Log in", '#',{:style=>'font-size:18px;', :class => ""} %></li>
        </ul>
      </li>
      -->
      <li><%= link_to "Help",   '#',{:style=>'font-size:18px;color:black', :class => ""} %></li>
      
    </ul>
    <ul class="nav navbar-nav" style="float:right">
    <% if session[:user_id] %>
    <li style="float:right;"><%= link_to "Log out", '/logout',{:style=>'font-size:18px;float:right;color:white;', :class => ""} %></li>
    <% else %>
    <li><button type="button" style="margin-top:2px;" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal">LOG IN</button></li>
    <% end %>
    </ul>
  </div>
</nav>
  <div> 
      <%=  yield  %>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog" style="margin-top:10%">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="background-color:springgreen">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">LOGIN</h4>
        </div>
        <div class="modal-body">
          <% provide(:title, "Log in") %>
          
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <%= form_tag("/login", method: "post") do %>
          
                
                <div class="form-group">
                  <%=label_tag(:q,"email")  %> 
                  <input type="text" name="email" class="form-control">
                </div>
                <div class="form-group">
                  <%=label_tag(:q,"password")  %> 
                  <input type="password" name="password" class="form-control">
                </div>
                <div class="form-group">
                  <%=submit_tag("LOG IN",class: "btn btn-primary form-control")   %> 
                  <%  end  %>
                  <p>New user? <%= link_to "Sign up now!", "/signup" %></p>
                </div>
            </div>
          </div>
          
        </div>
       
      </div>
      
    </div>
  </div>
  
</div>
  </body>
</html>
